@theme {
  --color-heos-text: #6b6375;
  --color-heos-text-heading: #08060d;
  --color-heos-bg: #fff;
  --color-heos-border: #e5e4e7;
  --color-heos-code-bg: #f4f3ec;
  --color-heos-accent: #aa3bff;
  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;
}

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: var(--font-sans);
  --heading: var(--font-heading);
  --mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-heos-text: #9ca3af;
    --color-heos-text-heading: #f3f4f6;
    --color-heos-bg: #16171d;
    --color-heos-border: #2e303a;
    --color-heos-code-bg: #1f2028;
    --color-heos-accent: #c084fc;
  }

  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}
